In [1]:
import numpy as np
import pandas as pd

from main import Main

np.random.seed(0)

# 輸入參數
salvage_value = 0
cost = 400
price = 1000

time_period = 10
simulation_times = 1000  # 代表每一個 Qk 包含多少筆
items_num_train = 20  # 有幾個 items in training
items_num_test = 5  # 有幾個 items in testing

# input data
demand_df_train = (
    np.random.normal(loc=15, scale=3, size=(items_num_train, time_period))
    .round()
    .astype(int)
)
demand_df_train = pd.DataFrame(demand_df_train)
print(f"demand_df_train.shape: {demand_df_train.shape}")
# print(demand_df_train)


demand_df_test = (
    np.random.normal(loc=15, scale=3, size=(items_num_test, time_period))
    .round()
    .astype(int)
)
demand_df_test = pd.DataFrame(demand_df_test)
print(f"demand_df_test.shape: {demand_df_test.shape}")
# print(demand_df_test)


Qks_test = np.random.normal(
    loc=20, scale=5, size=(time_period - 2, items_num_test, simulation_times)
)
print(f"Qks_test.shape: {Qks_test.shape}")


# 執行主程式
app = Main()

(
    train_profit_df,
    training_stimulation_result_df,
    training_results,
) = app.main(
    cost=cost,
    price=price,
    salvage_value=salvage_value,
    time_period=time_period,
    items_num_train=items_num_train,
    items_num_test=items_num_test,
    simulation_times=simulation_times,
    Qks_test=Qks_test,
    demand_df_train=demand_df_train,
    demand_df_test=demand_df_test,
)

demand_df_train.shape: (20, 10)
demand_df_test.shape: (5, 10)
Qks_test.shape: (8, 5, 1000)
self.service_lv: 0.6
mean of sum: 152.1
std of sum: 11.809452057345288
60.0 percentile of sum: 155.09189046834953

In [2]:
training_stimulation_result_df[training_stimulation_result_df["model"] == "S1"]

,losses,lefts,operation_profits,profits,model,R(T),F,item_idx,Left0s,Left1s,Q0,Q1
5,113.893551,1.509189,21063.869577,-47272.260846,S1,2.0,0.1,0.0,1.509189,0.000000,15.509189,19.597260
6,120.008537,0.000000,23394.878095,-48610.243809,S1,2.0,0.1,1.0,0.000000,0.000000,15.509189,23.482274
7,105.974544,3.509189,19815.273773,-43769.452455,S1,2.0,0.1,2.0,3.509189,0.000000,15.509189,17.516267
8,111.856955,4.509189,19285.827166,-47828.345667,S1,2.0,0.1,3.0,4.509189,0.000000,15.509189,16.633856
9,105.713751,2.509189,20571.749204,-42856.501591,S1,2.0,0.1,4.0,2.509189,0.000000,15.509189,18.777060
...,...,...,...,...,...,...,...,...,...,...,...,...
360,9.417299,21.582701,83749.620853,78099.241706,S1,9.0,0.9,0.0,21.582701,0.000000,139.582701,0.000000
361,15.922062,17.582701,85846.763048,76293.526096,S1,9.0,0.9,1.0,17.582701,0.000000,139.582701,3.495237
362,0.000000,28.165403,83400.000000,83166.919431,S1,9.0,0.9,2.0,27.582701,0.582701,139.582701,0.000000
363,4.417299,28.582701,83749.620853,81099.241706,S1,9.0,0.9,3.0,28.582701,0.000000,139.582701,0.000000
364,0.417299,23.582701,83749.620853,83499.241706,S1,9.0,0.9,4.0,23.582701,0.000000,139.582701,0.000000

In [3]:
train_profit_df

       baseline            S1
0  82912.648763  80431.634129

In [4]:
training_results

,original_index,R(T),F,Q0,Q1,average_profits,average_losses,average_lefts,average_operation_profits,model
0,71,9,0.9,"[139.58270142151457, 139.58270142151457, 139.5...","[0, 3.495236991599768, 0, 0, 0]",80431.634129,6.034791,23.899242,84099.125121,S1
5,62,8,0.9,"[139.58270142151457, 139.58270142151457, 139.5...","[0, 0, 0, 0, 0]",79592.777251,6.733839,38.299242,83679.696682,S1
7,17,3,0.9,"[139.58270142151457, 139.58270142151457, 139.5...","[0, 0, 0, 0, 0]",79592.777251,6.733839,111.699242,83679.696682,S1
6,53,7,0.9,"[139.58270142151457, 139.58270142151457, 139.5...","[0, 0, 0, 0, 0]",79592.777251,6.733839,54.699242,83679.696682,S1
1,44,6,0.9,"[139.58270142151457, 139.58270142151457, 139.5...","[0, 0, 0, 0, 0]",79592.777251,6.733839,67.899242,83679.696682,S1
...,...,...,...,...,...,...,...,...,...,...
67,54,8,0.1,"[15.509189046834955, 15.509189046834955, 15.50...","[110.76967591492388, 111.94227733584333, 101.6...",-40286.066252,85.890811,62.342733,36185.513428,S1
68,64,9,0.2,"[31.01837809366991, 31.01837809366991, 31.0183...","[108.23142951713838, 112.05956031944443, 102.0...",-44279.950655,84.781622,75.655011,36851.026856,S1
69,1,2,0.2,"[31.01837809366991, 31.01837809366991, 31.0183...","[4.088071201618824, 7.973085398690067, 2.00707...",-46067.360874,111.489467,17.418378,20826.319563,S1
70,0,2,0.1,"[15.509189046834955, 15.509189046834955, 15.50...","[19.59726024845378, 23.48227444552502, 17.5162...",-46067.360874,111.489467,2.407351,20826.319563,S1
71,63,9,0.1,"[15.509189046834955, 15.509189046834955, 15.50...","[123.74061856397333, 127.56874936627938, 117.5...",-69094.653130,100.290811,91.164200,27545.513428,S1